body {
  padding-top: 50px;
  background-color: #E5ECAB;
}
textarea {
	min-height: 150px;
}
.col-md-6 {
  text-align: center;
}
.starter-template {
	text-align: center !important;
}
.starter-template h1 {
	color: #FC6700;
	font-size: 70px;
}
.copy-button {
/*	position: fixed;
	left: 1%;
	bottom: 2%;*/
	width: 100px;
}
.config_input_note {
	font-size: 10px;
}
input {
	text-align: center;
}

.body { background-color: E5ECAB;}
.body { color: 768B1F;}
.starter-template h1 {color: FC6700;}
.logo {
width: 100%;
}

.btn-info {
linear-gradient(to bottom,#E5ECAB0,#FC6700100%)!important;
}

body {
	background: #E5ECAB;
	font-size: 11pt;
	font-family: Trebuchet MS,Verdana;
}

.btn-info {
	background: #FC6700!important;
}

div.page {
	width: 100%;
	text-align: center;
}

input:-webkit-autofill {
	background-color: white !important;
}

div.form_wrapper {
	padding-top: 15px;
	width: 370px;
	margin: auto;
	margin-top: 5px;
	border: 1px solid #999;
	background: #FFF;
	box-shadow: 2px 2px 5px #999;
}

div.form {
	text-align: left;
	padding: 30px;
}

div.form input {
	font-size: 12pt;
	margin-left: 0px;
}

div.form #login {
	width: 82px;
	height: 34px;
float: right;
}

div.form #login {
	cursor:pointer;
	font-family:Trebuchet MS,"Helvetica Neue",Helvetica,sans-serif;
	font-size:15px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-width:1px;
	border-style:solid;
	text-shadow:0 -1px 1px rgba(0,0,0,0.4);
	background-color:#FC6700;
	border-color:#FC6700;
	color:#fff;
	background:#F99653;
	background:-moz-linear-gradient(top,#F99653 0,#FC6700 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#F99653),color-stop(100%,#FC6700));
	background:-webkit-linear-gradient(top,#F99653 0,#FC6700 100%);
	background:-o-linear-gradient(top,#F99653 0,#FC6700 100%);
	background:-ms-linear-gradient(top,#F99653 0,#FC6700 100%);
	background:linear-gradient(top,#F99653 0,#FC6700 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F99653',endColorstr='#FC6700',GradientType=0);
}

div.form #login::-moz-focus-inner {
	border:0;
	padding:0
}

input.user,
input.pwd {
	height: 36px;
	border: 1px solid #cacaca;
}

input.user {
	margin: 0 0 17px 0;
	padding: 1px 1px 1px 10px;
}

input.pwd {
	margin: 2px 0 17px 0;
width: 204px;
	padding: 1px 1px 1px 10px;
float: left;
}

input.submit {
	margin: 4px 0 15px 0;
float: right;
}

#email_input select {
width: 170px;
height: 40px;
padding: 5px;
border: 1px solid #cacaca;
font-size: 12pt;
margin-bottom: 17px;
position: absolute;
}

#email_input {
position: relative;
margin-top: 3px
}

select {
margin-bottom: 10px;
}

#email_label {
 margin-top: 14px;
}

#form_title {
	font-size: 18px;
}

div#alert {
	display: none;
	color: red;
	font-size: 13px;
}

body.alert div#alert { display: block !important; }
body.normal div#placeholder { display: none !important; }
body.alert div#placeholder { display: none !important; }

#ssl {
	margin-top: 4px;
}

.header {
	 height: 1px;
}

div, select, label {
clear: both;
}