.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.paper {
  margin-top: 100px; 
}
.paper>h1 {
  text-align: center;
  margin-bottom: 20px;
}
.result_good {
  padding: 12px;
  font-size: 15px;
  margin-bottom: 10px;
  background-color: #a0f5b3;
}
.result_bad {
  padding: 12px;
  font-size: 15px;
  margin-bottom: 10px;
  background-color: #ffd5bc;
}
.form-group {
  margin-bottom: 0px !important;
}